@import "tailwindcss";

@theme {
  --font-sans: InterVariable, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #ededed;
  --border: theme(--color-stone-300) /* stone-300 */;
  --accent: theme(--color-neutral-800) /* neutral-800 */;
  --accent-inversed: theme(--color-neutral-300) /* neutral-300 */;
  --foreground: theme(--color-sky-700) /* yellow-700 */;
  --foreground-hover: theme(--color-sky-600) /* yellow-600 */;
  --text: #0a0a0a;
  --text-inversed: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --border: theme(--color-stone-800) /* stone-800 */;
    --accent: theme(--color-neutral-300) /* neutral-300 */;
    --accent-inversed: theme(--color-neutral-800); /* neutral-800 */;
    --foreground: theme(--color-sky-600) /* yellow-600 */;
    --foreground-hover: theme(--color-sky-800) /* yellow-800 */;
    --text: #ededed;
    --text-inversed: #0a0a0a;
  }
}

html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

/* Markdown theming */

/* .markup {
  font-family: theme(--font-sans);
} */

.markup h1 {
  font-size: theme(--text-3xl);
}

.markup h2 {
  font-size: theme(--text-2xl);
}

.markup p {
  margin-bottom: 1rem;
}

.markup hr {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.markup table {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.markup th, .markup td {
  padding: 0.625rem;
  border: 1px solid theme(--color-neutral-300);
}

.markup [data-footnote-ref], .markup [data-footnote-backref] {
  display: none;
}
